header
{
  background-color:#F17F06;
  height:70px;
  display:block;
  text-align:center;
  font-size:30px;
   line-height: 1.9;
}
#start
{
height:600px;
}
nav
{
float:left;
width:20%;
}

section
{
  float:left;
  width:80%;
  height:500px;
  backgorund-color:#000000;
  align:right;
}
section form
{
 
}
nav.vertical {
  
  text-align: center;
}

  nav.vertical > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F7A34B;
  }

    nav.vertical > ul > li a{
      display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
  border-bottom: 1px solid  black;
    }
    nav.vertical >ul > li a:hover {
    background-color: #555;
    color: white;
    cursor:pointer;
    
}

footer
{
  background-color:#F17F06;
  height:35px;
  display:block;
  text-align:left;
  font-size:17px;
   line-height:1.5;
}